<header>
  <nav class="navbar navbar-expand-md navbar-default  nav-detail" style="background: orange;">
    <div class="container-fluid">
      <div class="navbar-brand" ><a routerLink="" class="text-white brandN" style="color: white">TASK</a></div>
      <div>
        <ul class="navbar-nav menuitem">
          <li class="active nav-item"><a routerLink="" class="nav-link text-white">Tasks</a></li>
          <li *ngIf="userService.authorization; else notAuth" class="nav-item" >
            <a  class="nav-link text-white curPointer " (click)="logout()">Logout</a></li>
          <ng-template #notAuth>
            <li class="nav-item" ><a routerLink="/join/login" class="nav-link text-white">Login/Register</a></li>
          </ng-template>
        </ul>
      </div>
    </div>
  </nav>

</header>

<router-outlet></router-outlet>
