<div class="container">
  <form>
    <div class="form-group">
      <label for="tasktext">What do you want to get done?</label>
      <input type="text" class="form-control " id="tasktext"  placeholder="Enter Task Text">
    </div>
    <div class="form-group">
      <label for="date">Date</label>
      <input type="date" class="form-control" id="date">
    </div>

    <button type="submit" class="btn btn-success"><b>ADD</b></button>
  </form>
  <h2 class="text-center">All Tasks</h2>
  <ul class="list-group" class="margin-top">
    <li class="list-group-item item-hover">Cras justo odio</li>
    <li class="list-group-item item-hover">Dapibus ac facilisis in</li>
    <li class="list-group-item item-hover">Morbi leo risus</li>
    <li class="list-group-item item-hover">Porta ac consectetur ac</li>
    <li class="list-group-item item-hover">Vestibulum at eros</li>
  </ul>
</div>
